
.nav {
  display: flex;

  

}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav__item {
  padding-right: 60px;
  &:last-child {
    padding-right: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  &:hover {
    color: #6b6c6d;
  }
}

