.scroll-wrapper {
    position: absolute;
    bottom: 90px;
    transform: translateX(50%);
}

.scroll-arrow {
    height: 30px;
    width: 30px;
    fill: #ffffff;
    cursor: pointer;
    animation-name: animation-arrow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-timing-function: linear;
}

.scroll {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;

}