.skills {
    background-image:url(./../images/content/my-skills.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    &:after{
        content: "";
        background-image:url(./../images/content/hands.png);
        position: absolute;
        z-index: 1;
        left: -100px;
        right: 0;
        height: 983px;
        width: 682px;
    }
}