
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  @include tablets {
      align-items: center;
  }
  @include phones {
    text-align: center;
  }
}

.skills__item {
  margin-bottom: 30px;
}