.welcome {
    background-image:url(./../images/content/train.jpg) ;
    background-repeat: no-repeat;
    min-height: 1832px;
    background-size: cover;
}

.welcome__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}