nav.nav-mobile
    ul.nav-mobile__list
        - var menu = [{name:'Главная', href:"#main"},{name:'Обо мне', href:"#about-me"},{name:'Мои навыки', href:"#skills"},{name:'Портфолио', href:"#my-works"},{name:'Отзывы', href:"#reviews"},{name:'Контакты', href:"#contacts"}]
        each item in menu 
            li.nav-mobile__item
                a(href=item.href).nav-mobile__link #{item.name}