h2.my-works__title Мои работы
.my-works__wrapper
    .my-works__left
        +image('content/work-1.jpg', 'my-works__img')
        ul.my-works-slider
            li.my-works-slider__item
                a(href="#").my-works__slider-link
                    +image('content/preview-work-1.jpg', 'my-works_preview-img my-works_preview-img--active')
            li.my-works-slider__item
                a(href="#").my-works__slider-link
                    +image('content/preview-work-2.jpg', 'my-works_preview-img')
            li.my-works-slider__item
                a(href="#").my-works__slider-link
                    +image('content/preview-work-3.jpg', 'my-works_preview-img')
            li.my-works-slider__item
                a(href="#").my-works__slider-link
                    +image('content/preview-work-4.jpg', 'my-works_preview-img')
            li.my-works-slider__buttons
                button.my-works-slider__buttons-next
                button.my-works-slider__buttons-prev
    .my-works__right
        ul.my-works__instruments
            li.my-works__instruments-item HTML
            li.my-works__instruments-item CSS
            li.my-works__instruments-item Javascript
        h3.my-works__title-small Сайт школы образования
        p.my-works__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a(href="#").my-works__link Посмотреть сайт