
.reviews__controls-wrapper
    h2.reviews__title.title Что обо мне говорят
    .reviews__controls
        button(type="button").reviews__controls-prev
        button(type="button").reviews__controls-next
ul.reviews__slider
    li.reviews__slider-item
        p.text.text-grey Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .reviews__slider-hero
            .reviews__slider-img
                +image('content/reviews-avatar-1.png', 'reviews__slider-pic')
            .reviews__slider-text
            h4.reviews__slider-name Ковальчук Дмитрий
                .reviews__slider-desc Основатель Loftschool
    li.reviews__slider-item
        p.text.text-grey Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
        .reviews__slider-hero
            .reviews__slider-img
                +image('content/reviews-avatar-2.png', 'reviews__slider-pic')
            .reviews__slider-text
            h4.reviews__slider-name Владимир Сабанцев
                .reviews__slider-desc Преподаватель