h3.skills__title.title Чем я могу быть полезен вам
p.skills__text.text.text-grey Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
.skills__frontend-wrapper
  .skills__svg-wrapper
    .block
      h4.title.title-small Front-end 
      svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
        text.circle__name(x="-70" y="5") HTML5
        circle.circle.circle__under(cx="50" r="40")
        circle.circle.circle__above(cx="50" r="40" style="animation-delay: -25s")
      svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
        text.circle__name(x="-65" y="5") CSS3
        circle.circle.circle__under(cx="50" r="40")
        circle.circle.circle__above(cx="50" r="40" style="animation-delay: -13s")
      .nbsp
      svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
        text.circle__name(x="-80" y="5") Javascript
        circle.circle.circle__under(cx="50" r="40")
        circle.circle.circle__above(cx="50" r="40" style="animation-delay: -75s")
      svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
        text.circle__name(x="-69" y="5") Jquery
        circle.circle.circle__under(cx="50" r="40")
        circle.circle.circle__above(cx="50" r="40" style="animation-delay: -25s")
.skills__workflow-wrapper
    .skills__svg-wrapper
      .block
        h4.title.title-small Workflow
        svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
          text.circle__name(x="-62" y="5") GIT
          circle.circle.circle__under(cx="50" r="40")
          circle.circle.circle__above(cx="50" r="40" style="animation-delay: -25s")
        svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
          text.circle__name(x="-75" y="5") Terminal
          circle.circle.circle__under(cx="50" r="40")
          circle.circle.circle__above(cx="50" r="40" style="animation-delay: -13s")
        .nbsp
        svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
          text.circle__name(x="-65" y="5") Gulp
          circle.circle.circle__under(cx="50" r="40")
          circle.circle.circle__above(cx="50" r="40" style="animation-delay: -75s")
        svg.precentage(viewBox="0 -50 100 100" preserveAspectRatio="none")
          text.circle__name(x="-76" y="5") Webpack
          circle.circle.circle__under(cx="50" r="40")
          circle.circle.circle__above(cx="50" r="40" style="animation-delay: -25s")
