include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio
  body
    .wrapper
      main.main
        section.section.welcome(id="main")
          //- .layer-1
          //- .layer-2
          //- .layer-3
          //- .layer-4
          .conteiner
            include components/header
            .welcome-wrapper
              include components/welcome
        section.section.about-me(id="about-me")
          .conteiner 
            include components/about-me
        section.section.skills(id="skills")
          .conteiner
            include components/skills
        section.section.my-works(id="my-works")
          .conteiner
            include components/my-works
        .spring
          .conteiner
            section.reviews(id="reviews")
              include components/reviews
            section.section.contacts(id="contacts")
              include components/contacts
        footer.footer
          .conteiner.flex
            include components/footer
        //- //- +image('content/user.jpg', 'user-pic')
        //- //- +icon('link', 'link-class')
        //- .icon-bg